<div ng-init="getImages($route.current.category)">

    <div class="col-md-2 centered">
        <div class="navbar navbar-fixed-left">
            <a class="navbar-brand" href="#"><img src="data/header.jpg" class="logo header-image"></a>
            <div class="categorycontainer">
            <ul class="nav navbar-nav">
                <li ng-repeat="project in projects" ng-click="setProject(project)" ng-mouseover="highlightcagetoryname">
                    <span class="categoryname">{{ project.displaytitle }}</span>
                </li>
            </ul>
            </div>
        </div>

        <div class="footer" style="float:bottom;margin-top:60px;margin-bottom:10px">
            <a href="https://www.instagram.com/erins_illustrations/"><img class="socialmedia" src="data/instagramlogo.jpg"></a>
            <a href="mailto:hello.erinsillustrations@gmail.com"><img class="socialmedia" src="data/emaillogo.jpg"></a>

            <!-- <div class="social-media-button">
              <div id="fb-root"></div>
              <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="qhaQWoX5"></script>
              <div class="fb-share-button" data-href="https://erins-illustrations.com" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            </div>
      
            <div class="social-media-button">
              <a class="tumblr-share-button" style="width:50px" href="https://www.tumblr.com/share"></a>
              <script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>
            </div>
      
            <div class="social-media-button">
              <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
              <a style="width:10px" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
            </div> -->
        </div>
    </div>
    

    <div class="col-md-10 gallery-container">
        <div class="col-md-4">
            <div ng-repeat="image in selectedProject.images" ng-show="$index%3==0">
                <img ng-src="{{ image.url }}" class="img-gallery" />
            </div> 
        </div>
        <div class="col-md-4">
            <div ng-repeat="image in selectedProject.images" ng-show="$index%3==1">
                <img ng-src="{{ image.url }}" class="img-gallery" />
            </div> 
        </div>
        <div class="col-md-4">
            <div ng-repeat="image in selectedProject.images" ng-show="$index%3==2">
                <img ng-src="{{ image.url }}" class="img-gallery" />
            </div> 
        </div>
    </div>
</div>