<div ng-init="getImages($route.current.category)">

    <div class="centered" style="text-align:center">
        <div style="text-align:center">
            <h1>{{ $route.current.title }}</h1>
        </div>

        <div style="margin-top:50px">
            <h2 class="text-gallery-title">About Me</h3>
            <div class="text-gallery-description">Welcome! My name is Erin and I am a young artist currently based in Eugene, Oregon, USA. I specialise in ink illustrations and digital coloring, but my range includes pencil drawing and acrylic painting. I am inspired by whimsical cuteness and the beauty of nature. Check out my Art Gallery for more info about my professional work and feel free to contact me about future commissions.</div>
        </div>

        <div style="margin-top:50px">
            <h2 class="text-gallery-title">Features</h3>
        </div>

        <div style="margin-top:50px">
            <a href="#/cards" class="text-gallery-description">My 2020 Christmas cards are up for sale now!</a>
            <img src="data/home/cards.jpg" class="img-gallery img-size-limit" />
        </div>

        <div style="margin-top:50px;" class="col-md-6">
            <img src="data/home/gallery.jpg" class="img-gallery img-size-limit"/>
            <a href="#/gallery" class="text-gallery-description">Check out some of my latest work in the Gallery, including paintings, ink work, and digital coloring.</a>
        </div>
    </div>
    
</div>