<div ng-init="setupShop()">

  <div class="centered" style="text-align:center">
    <h1>Card Shop</h1>
  </div>

  <div class="text-gallery-title" style="margin-top:15px; font-size: xx-large; text-align: center; color: rebeccapurple;">
    Christmas Cards available NOW!
  </div>

  <div class="text-gallery-details" style="margin-top:15px; font-size: medium; text-align: center;">
    Thank you for visiting Erin's Illustrations! Shop for silly holiday cards created by Erin Chapman, an artist currently based in Eugene, Oregon. The inside of the cards are blank for your own personalized holiday wish, but look out for a surprise message on the back of each card!
  </div> 

  <div class="text-gallery-description" style="margin-top:15px; font-size: xx-large;">
    To purchase your holiday cards:
  </div>

  <div class="text-gallery-description" style="margin-top:15px;">
    1.) select the number of each card you'd like to buy.*
  </div>

  <div class="text-gallery-description" style="margin-top:15px;">
    2.) select shipping (limited to US or UK) or hand delivery (available upon request for some Oregon locations). 
  </div>

  <div class="text-gallery-description" style="margin-top:15px;">
    3.) select your payment option for checkout (Your shipping information will be entered in Paypal).
  </div>

  <div class="text-gallery-description" style="margin-top:15px; font-size: xx-large;">
    A confirmation email will be sent to you shortly after your purchase. Happy shopping!
  </div>

  <div class="text-gallery-description" style="font-size: medium;">
    *For orders over 15 cards, please contact me first to confirm shipping options
  </div>

  <div class="col-md-12 card_viewer">
    <img ng-src="{{ selectedimage.url }}" class="card_viewer_image" />
    <div style="margin-top:5px;margin-left:150px" class="centered">
        <button ng-class="{'disabled':selectedimage.url==image.url}" ng-click="selectImage(image)" ng-repeat="image in selectedcard.images">{{ 1+$index }}</button>            
    </div>
  </div>

  <div style="margin-bottom:20px">
    <div ng-click="selectPackage('all')">
      <input type="radio" ng-checked="selected_package=='all'" class="radio_input" />10-pack- one of each!
    </div>
    <div ng-click="selectPackage('custom')">
      <input type="radio" ng-checked="selected_package=='custom'" class="radio_input" />Make my own selection
    </div>
  </div>

  <div>
    <table>
      <tr>
        <td class="shop-item" ng-if="$even" ng-repeat="card in cards" class="col-lg-6" ng-class="{'disabled_look': selected_package != 'custom'}">
          <img class="shop-item-image pointer" ng-click="selectCard(card)" ng-src="{{ card.images[0].url }}" />
          <input style="margin-right:5px" class="shop-item-input" type="number" ng-model="card.number" min=0 ng-change="changeCart(card.title, card.number)" ng-class="{'disabled_function': selected_package != 'custom'}"/>
        </td>
      </tr>
      <tr>
        <td style="height:10px;"></td>
      </tr>
      <tr>
        <td class="shop-item" ng-if="$odd" ng-repeat="card in cards" class="col-lg-6" ng-class="{'disabled_look': selected_package != 'custom'}">
          <img class="shop-item-image pointer" ng-click="selectCard(card)" ng-src="{{ card.images[0].url }}" />
          <input class="shop-item-input" type="number" ng-model="card.number" min=0 ng-change="changeCart(card.title, card.number)" ng-class="{'disabled_function': selected_package != 'custom'}"/>
        </td>
      </tr>
    </table>
  </div>

  <div style="margin-top:15px;margin-bottom:15px">
    <div class="radio-header">Delivery Options</div>
    <div ng-click="setOrderType('ShippedUS')">
      <input type="radio" ng-checked="order_type=='ShippedUS'" class="radio_input" />US Shipping (Estimated 2-5 business days. $10 postage)
    </div>
    <div ng-click="setOrderType('ShippedUK')">
      <input type="radio" ng-checked="order_type=='ShippedUK'" class="radio_input" />UK Shipping (Estimated 2-5 business days. £2 postage + 25% price adjustment for total UK order. GPB to be confirmed in Paypal)
    </div>
    <div ng-click="setOrderType('Delivered')">
      <input type="radio" ng-checked="order_type=='Delivered'" class="radio_input" />Hand Delivery (Limited to Oregon, available on request only)
    </div>
  </div>

  <div class="rates-container">
      Rate:
      <li ng-repeat="r in rates">{{ r.cards }} card(s) - ${{r.cost}} per card</li>
  </div>

  <div>
    <div class="col-md-6">
        <h2>{{ money_symbol }}{{ displayPrice }} for {{ cartSize }} Cards</h2>
    </div>

    <div ng-hide="price==0 || !order_type" class="col-md-6">
      <div id="paypal-button-container"></div>
    </div>

    <div class="col-md-12" ng-hide="price==0 || !order_type">
      <div>Please enter anything I should know about your order below.</div>
      <input type="text" ng-model="comments" style="margin-top:5px;width:350px;" ng-change="checkCommentLength()" />
    </div>
  </div>

</div>
