/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.body {
  background-color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header-image {
max-width: 200px;
}

.categorycontainer {
margin-top: 250px;
}
.img-gallery {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 25px;
}

.copyright {
  max-width: 25px;
  margin-left: 10px;
  color: black;
  font-size: x-small; 
  font-weight: bolder;
  color: black;
}
.socialmedia {
 max-width: 25px;
 margin-left: 10px;
 color: black;
}
.socialmedia:hover {
color: seagreen;
}

.categoryname:hover {
cursor: pointer;
text-decoration: underline;
color: seagreen;
}

.gallery-container {
  margin-top: 50px;
}
.img-gallery-gallery {
  max-height:400px;
  height: auto;
}

.text-gallery-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  font-size: 50px;
}

.text-gallery-description {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  font-size: 20px;
  margin-top: 20px;
}

.text-gallery-details {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  font-size: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.homepage-background1 {
  background-color: #EEEEEE;
}
.btn-buy-print {
  color: black;
  margin-top:5px;
  max-width:480px;
  width:100% !important;
}

.rates-container {
  margin-top:15px;
}

.shop-item {
  margin-bottom:15px;
}

.shop-item-image {
  width:50px;
  height:50px;
}

.shop-item-input {
  width:42px;
  color: black;
}

.commissions-container {
  margin-top:50px;
  margin-bottom:30px;
}

.gallery-image-title {
  float: right;
}

.disabled_look {
  opacity: 0.5;
}

.disabled_function {
  pointer-events: none;
}

.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.radio_input {
  margin-right: 5px !important;
}

.card_viewer {
  margin-top: 20px;
  margin-bottom: 25px;
  height: 400px;
}

.card_viewer_image {
  max-height: 360px;
  height: 100%;
}

.pointer {
  cursor: pointer
}

.radio-header {
  font-size: 18px !important;
  font-weight: bold !important;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.img-list-3 {
  max-width: 480px;
  max-height: 360px;
  width: 100%;
  height: 100%;
}

.img-size-limit {
  max-width: 75vw;
}

/* CSS used here will be applied after bootstrap.css */
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.container {
  height: 1000px;
}

.wrapper {
  margin-left: 140px;
}